[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #003334;
    --md-primary-fg-color--light: #CCCCCC;
    --md-primary-fg-color--dark:  #333333;
/*    --md-typeset-a-color: #225554;*/
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #003334;
    --md-primary-fg-color--light: #CCCCCC;
    --md-primary-fg-color--dark:  #333333;
    --md-typeset-a-color: #447775;
}
